<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">The Complete Ruby on Rails</a>
      by <a href="http://www.mashrurhossain.com/">Mashrur Hossain</a>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
    </small>
  </footer>
</div>